@layer base {
    html,
    body,
    #root {
      @apply h-full;
    }
  }

  :root {
    @layer .light;
   
  }
.dark {
    --color-primary: #6419E6;
    --color-secondary: #D926A9;
    --color-accent: #1FB2A6;
    --color-base-100: #2A303C;
  }
.light {
    --color-primary: #9bf48b;
    --color-secondary: #c1b1f9;
    --color-accent: #118941;
    --color-base-100: #F7F7F8;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;